@import '~@fluentui/react/dist/sass/References.scss';


.profilecard {
  overflow: hidden;
  padding: 1rem;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.mainDiv {
  font-family: 'ADPortsGroup';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  width: 25.75rem;
  height: 24.188rem;
  position: relative;
  background: white;
  border: 2px #218BC9 solid;
}

.firstDiv {
  width: 12.5rem;
  height: 12.5rem;
  left: 6.563rem;
  top: 1.875rem;
  position: absolute;
  // background: #63666A;
  border-radius: 624.938rem
}

.secondDiv {
  width: 25.813rem;
  height: 15.313rem;
  left: -0.063rem;
  top: 8.875rem;
  position: absolute;
  background: #218BC9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px #218BC9 solid
}

.thirdDiv {
  width: 10.757rem;
  height: 9.938rem;
  left: 7.733rem;
  top: 2.875rem;
  position: absolute
}

.fourthDiv {
  width: 151.49px;
  height: 151.49px;
  left: -2.24px;
  top: 3.76px;
  position: absolute;
  //background: #218BC9;
  border-radius: 9999px;
  //border: 6px #218BC9 solid
}

.fifthDiv {
  width: 9.938rem;
  height: 9.938rem;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-radius: 624.938rem;
  border: 1px #218bc9 solid
}

.sixthDiv {
  width: 9.161rem;
  height: 9.161rem;
  left: 0.145rem;
  top: 0.231rem;
  position: absolute;
  background: #B6B6B6;
  border-radius: 624.938rem;
  border: 0.251rem #A187BF solid
}

.seventhDiv {
  left: 7.5rem;
  top: 13.75rem;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  font-family: ADPortsGroup;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.048rem;
  word-wrap: break-word
}

.eigthDiv {
  left: 8.938rem;
  top: 15.813rem;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 0.75rem;
  font-family: ADPortsGroup;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 00.036rem;
  word-wrap: break-word
}

.nineDiv {
  left: 3.375rem;
  top: 18.313rem;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  display: inline-flex
}

.tenDiv {
  width: 5.25rem;
  height: 3.248rem;
  position: relative
}

.elevenDiv {
  gap: 0.231rem;
  display: inline-flex
}

.twelveDiv {
  top:-0.188rem;
  position: relative
}

.thirteenDiv {
  width: 0.403rem;
  height: 0.269rem;
  left: 0.403rem;
  top: 0.118rem;
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
  background: white
}

.fourteenDiv {
  width: 0.504rem;
  height: 0.505rem;
}
.arrowFill{
  width: -webkit-fill-available;
}
.fifteenDiv {
  color: white;
  font-size: 0.625rem;
  font-family: ADPortsGroup;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word
}

.sixteenDiv {
  left: 0rem;
  top: 0.938rem;
  position: absolute;
  color: white;
  font-size: 0.923rem;
  font-family: ADPortsGroup;
  font-weight: 700;
  word-wrap: break-word
}

.seventeenDiv {
  left: 0rem;
  top: 2.31rem;
  position: absolute;
  color: white;
  font-size: 0.625rem;
  font-family: ADPortsGroup;
  font-weight: 400;
  line-height: 0.938rem;
  word-wrap: break-word
}

.eighteenDiv {
  width: 0.063rem;
  height: 3rem;
  background: white
}

.nineteenDiv {
  width: 11.563rem;
  height: 2.938rem;
  position: relative;
  background: white;
  box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  overflow: hidden
}

.twentyDiv {
  left: 1.688rem;
  top: 0.75rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
  display: inline-flex
}

.twentyoneDiv {
  text-align: center;
  color: #A187BF;
  font-size: 0.875rem;
  font-family: ADPortsGroup;
  font-weight: 700;
  word-wrap: break-word
}

.twentytwoDiv {
  width: 0.5rem;
  height: 0.875rem;
  transform-origin: 0 0;
  background: #A187BF
}

.profilePic {
  width: 9.161rem;
  height: 9.161rem;
  border-radius: 62.438rem;
}